$background: radial-gradient(rgb(68, 51, 88), rgb(35, 35, 46)); // #1e1c29
$background-light: rgba(37, 34, 51, 0.999); // #252233
$background-contrast: rgb(43, 39, 56);
$background-hover: #3b384e;

$text-color: #ccc;
$text-color-2: rgb(94, 94, 94);

$animations-speed: 0.2s;

$defaults-serverstatus: #ff3842;
$defaults-activecolor: #a834de;
$defaults-light-red: #ff4c5b;
$defaults-light-orange: #ff954f;
$defaults-light-blue: #5ea9ff;
$defaults-light-green: #a5ff8f;